.input {
  /* width: 75%; */
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.submit {
  margin-top: 0.5rem;
}

.inputContainer {
  border: 2px solid #000;
  padding: 0.5em;
  border-radius: 3px;
  width: min(80vw, 600px);
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tag {
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 20px;
  border: 1px solid black;
}
.tag .close {
  height: 20px;
  width: 20px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 18px;
  cursor: pointer;
}

.tagInput {
  flex-grow: 1;
  padding: 0.5em 0;
  border: none;
  outline: none;
}

.servingsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.counterContainer {
  display: flex;
  justify-content: flex-start;
  column-gap: 0.5rem;
}

.counter {
  width: 20px;
  background-color: transparent;
  color: rgb(16, 0, 54);
  border: 1px solid rgb(16, 0, 54);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-align: center;
}

.progress {
width: 100%;

transition: ease-in-out;
}
