.post {
  border: 1px solid black;
  padding: 8px;
  border-radius: 5pt;
  /* box-shadow:
    rgba(0, 0, 0, 0.1) 0px 3px 19px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}

.picture {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
